* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:antiquewhite;
    color: darkslategray;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .ln {
    color: darkslategray
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/CoverPhoto.jpeg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
} 

.about {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    color: #ffffff;
}


.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    color: #ffffff;
}

.contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    color: #ffffff;
}
