html {
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: lavenderblush;
}

  /*HEADER, NAV, HERO*/

.hero {
    background-color: antiquewhite;
    background-image: URL(../assets/images/CoverPhoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}
  
.hero-text {
    color: darkslategray;
    font-size: 40px;
    font-style: oblique;
    margin-left: 1%;
    margin-bottom: auto;
}
  
.hero h1 {
    font-size: 80px;
    margin: 0;
    letter-spacing: 0.1em;
}
  
.hero nav {
    display: flex;
    justify-content: space-between;
    float: right;
    padding: 20px;
}
  
.hero nav ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;
}
  
.hero nav ul li {
    text-decoration: none;
}
  
.hero-area {
    display: flex;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

/*Main content below hero*/

#about {
    display:flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}
  
#about h2 {
    font-size: 30px;
    font-family: monospace;
}
  
#about p {
    margin: auto;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    padding: 2px;
}
  
.headshot {
    width: 200px;
    border-radius: 190px;
}
  
.headshot-container {
    display: flex;
    align-items: center;
}
  
hr.line {
    border-top: 5px dashed pink;
}

/*portfolio section*/

#portfolio {
    padding: 5px;
  }

.portfolio-section h2 {
    font-size: 40px;
    font-family: monospace;
}
  
.portfolio-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
  
.portfoliosubtext {
    font-size: 20px;
    font-weight: 300;
}
  
.portfolio-card {
    width: 400px;
    height: 600px;
    border-radius: 90px;
    box-shadow: 5px 5px 10px rgb(197, 195, 195);
    margin: 10px;
    background-color: snow;
}
  
.portfolio-container {
    display: flex;
    justify-content: space-around;
}
  
.portfolio-card:hover {
    box-shadow: rgba(46, 106, 16, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.portfolio-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}
  
hr {
    margin-left: 20px;
    margin-right: 20px;
}
  
.portfolio-link {
    text-decoration: none;
    color: #ef744b;
}
  
a {
    text-decoration: none;
    color: white;
}
  
  /*footer/contact*/

footer {
    background: linear-gradient(lavenderblush, skyblue);
    color: darkslategray;
    text-align: center;
    padding: 80px;
    font-size: 20px;
}

#contact ul {
    list-style-type: none;
    text-decoration: none;
}

#contact ul li {
    text-decoration: none;
    font-size: 25px;
}

#contact ul li:hover{
    color: brown;
}

footer button {
    float: center;
    padding:2px;
    font-family: monospace;
    font-size: 1em;
    background-color: beige;
    border-color: beige;
}

/*media queries*/

@media only screen and (max-width: 1000px) {
    .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    }
}
  
  
@media only screen and (max-width: 1000px) {
    .hero nav ul {
    display:none;
    background-color: transparent;
    margin: 0ppx;
}
  
.hero nav ul.show {
    display: block;
}
  
.hero nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    }
}
    
